@media screen and (min-width:500px) {
    
  .container {
        width: 700px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .pagina2 {
        height: 140vh;
    }

    .endereco-mapa {
        height: 250px;
        width: 500px;
    }
    .endereco-endereco {
        font-size: 1em;
    }
}

@media screen and (max-width: 355px) {
    body {
        display: none;
    }
}